// @name Header
// @description All header styles

header {

    border-bottom: 1px solid #edefee;
    padding: ($spacer * 2) 0;
    margin-bottom: ($spacer * 2);
    height: 100%;
    @media(min-width: 640px) {
        padding: ($spacer * 10) 0 ($spacer * 3);
        margin-bottom: ($spacer * 3);
    }
}

.intro {
    margin-top: ($spacer * 6);
    margin-bottom: ($spacer * 2);
    height: 100%;

    &__pre, &__post {
        text-transform: uppercase;
        letter-spacing: 4px;
        opacity: 0.8;
    }

    &__main {
        font-size: 1.8rem;
        line-height: 1.2;
        font-weight: bold;
        margin: 10px 0 20px;

        @media(min-width: 640px) {
            font-size: 50px;
            max-width: 80%;
        }
    }
}
@media(min-width: 640px) {
    .intro {
        margin-top: ($spacer * 2);
    }
}

.social {
    a {
        margin-right: $spacer;
    }
}


#intro_more{
    margin-top: 19px;
    max-width: 100%;
    font-size: .7em;
}
@media(min-width: 640px) {
    #intro_more{
        margin-top: 19px;
        max-width: 60%;
        font-size: .8em;
    }
}

.intro_main{
    font-family: 'Oswald', sans-serif;
}
