nav {
    font-size: 14px;
}

nav ul li {
    margin-top: 10px;
    margin-right: 5px;
    float: left;
    opacity: 0.5;
}

ol, ul {
    float: right;
}
@media(min-width: 640px) {
    ol, ul {
        float: left;
    }
}

li.active {
    opacity: 1;
}
