<footer class="footer">
    <ul>
        <li id=left><div id=photo><div id=overlay></div></div>
        <li id=right>
            <table style=width:100%;>
                <tr><td id=name>{{site.name}}</td><tr>
                <tr><td class=adress>{{site.data.about.street}}</td><tr>
                <tr><td class=adress style=padding-bottom:3px;>{{site.data.about.zip}}, {{site.data.sv.about.stad}}</td><tr>
                <tr><td class=contact><a href="mailto:{{site.data.about.email}}">{{site.data.about.email}}</a></td><tr>
                <tr><td class=contact>{{site.data.about.phone}}</td><tr>
            </table>
    </ul>
</footer>
