<!--
URL                 : http://andreeray.se
Site Description    : {{ site.data.about }}
Date:               : Winter 2016
Author              : Morgan A Ray @ {{site.company}}
company             : {{site.company}}
Company description : {{site.company_desc}}
Company url         : {{site.company_url}}
-->
<!doctype html>
<html lang=en>

    {% include head.html %}
    <body>
        {% include nav.html %}
        {% include header.html %}
            {{ content }}
        {% include footer.html %}
    </body>
</html>
