<!--
URL                 : http://andreeray.se
Description         : Mitt namn är {{site.name}}. {{site.data.sv.about.about}}
Date:               : Winter 2016
Author              : Morgan A Ray @ {{site.company}}
company             : {{site.company}}
Company description : {{site.company_desc}}
Company url         : {{site.company_url}}
-->
<!doctype html>
<html lang=en>

    {% include head.html %}
    <body>
        {% include letter.html %}
        {% include footer.html %}
    </body>
</html>
